@charset "UTF-8";

body {
    background: linear-gradient(-368deg, #03001f, #02094e, #01073D, #030016);
    background-attachment: fixed;
    max-height: 100vh;
}

img {
    width: 150px;
    padding-top: 18px;
    margin-bottom: 13px;
}

div {
    width: 355px;
    /* height: 447px; */
    background-color: white;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    margin-top: 130px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #c5c5c5;
    letter-spacing: 0.5px;
}

#sessao {
    font-size: 10px;
    color: #c5c5c5;
    margin-bottom: 25px;
}


.input {
    font-family: Arial, Helvetica, sans-serif;
    width: 320px;
    padding: 8px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    font-size: 14px;
    color: #606060;
}

.input:focus {
    border-color: #a0a0a0;
    outline: none;
    box-shadow: 0 0 5px rgba(160, 160, 160, 0.5); 
}

#text {
    border: 1px solid #b7b7b7;
    margin-top: 18px;
    width: 295px;
    padding-left: 15px;
    color: hsl(0, 0%, 38%);
}

#entrar {
    background-image: linear-gradient(23deg, #01073D, #060074);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ebeaff;
    font-weight: 550;
    padding: 8px;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

#esqueceu {
    margin: auto;
    color: #00376B;
    font-size: 13px;
    text-decoration: none;
}

#cadastro {
    margin: auto;
    color: #0068AD;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
}

#tem-conta {
    margin-top: 1px;
    color: black;
}

.equipe {
    font-size: 12px;
    margin: 5px;
    color: #0068ad;
    text-align: center;
}

#sete {
    color: #00a0da;
    text-align: center;
    text-decoration: none;
}



@media (max-width: 768px) { 
    div {
        margin-top: 50px; 
        width: 90%; 
    }
}

@media (max-width: 480px) { 
    div {
        margin-top: 20px;
        width: 95%;
    }
}

footer {
    text-align: center;
    margin-top: 260px;
}

footer > a {
    color: #59636E;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}
#registro-box{
    width: auto; 
    height: auto;
}

#f1, #f2, #f3, #f4, #f5, #f6 {
    margin: 20px;
    font-weight: 600;
}
